# ط³غŒط³طھظ… ظˆ IDE
*.log
.DS_Store
/.idea
/.vscode
/.phpunit.cache
/.fleet
/.zed

# ظ…ط­غŒط·
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml

# Composer & Node
/vendor
/node_modules

# Public & Storage
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# ط¯غŒع¯ط±
.phpactor.json
.phpunit.result.cache
/auth.json
Thumbs.db
